@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300&display=swap");

:root {
  --blue: #2f80ed;
  --white: white;
}

body {
  background: white;
}

nav {
  /* position:relative; */
  width: 100vw;
  height: 80px;
}

.container-fluid {
  width: 100vw;
  height: 80px;
  border: 2px solid pink;
  display: flex !important;
  background-color: var(--white);
  z-index: 12;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container-fluid {
    position: static;
    border: none;
  }

  .hero-section {
    height: auto !important;
  }

  .features {
    width: 60% !important;
    height: 220px !important;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .CTA-form-box {
    margin-top: 20rem;
  }
  .nav-item {
    margin-bottom: -1rem;
    gap: 0.5rem;
  }

  .d-flex {
    margin-top: 1rem;
  }

  .announce-div {
    margin-top: 14rem;
  }

  .course-div{
    width:70%!important;
    flex-wrap:wrap!important;

  }

  
}

.navbar-brand {
  margin-left: 2rem;
}

.nav-item {
  display: flex;
  align-items: center;
}

.btn-outline-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 47px;
  padding: 15px 36px 15px 36px;
  border-radius: 8px;
  border: 2px solid;
  gap: 10px;
}

.navbar-nav {
  gap: 1.5rem;
  color: #4f4f4f;
  font-weight: 400;
}

.d-flex {
  margin-right: 2rem;
}

.announce-div {
  width: 100%;
  height: 37px;
  background-color: var(--blue);
  color: var(--white);
  text-align: center;
  font-style: italic;
  line-height: 30px;
  font-size: 14px;
  font-weight: 400;
}

.hero-section {
  width: 100vw;
  height: 650px;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.hero-left {
  width: 50%;
  height: 500px;
  
  position: relative;
  top: 50px;
}

.CTA-form-box {
  width: 400px;
  height: 500px;

  padding: 1.5rem;
  box-shadow: rgba(211, 120, 206, 0.986) 0px 19px 38px,
    rgb(145, 153, 189) 0px 15px 12px;
  /* line-height: 2rem; */
  border-radius: 10px;
}

.hero-left h1 {
  font-family: "ABeeZee", sans-serif;
  font-weight: 500;
  font-size: 50px;
  font-style: italic;
}

.hero-left-p {
  width: 60%;
  height: auto;
  margin-top: 2rem;
  line-height: 24px;
 
}

.features {
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  margin-top: 2rem;
  border: 1px solid #e2e2e2;
}

.flex-feature {
  width: 23%;
  height: 90%;
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 0.5rem;
}

.about-feature {
  width: 86px;
  height: 59px;

  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.about-feature h4 {
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 0px;
}

.about-feature-p {
  font-size: 12px;
}

.feature-img {
  width: 36px;
  height: 36px;
}

.accknowledge {
  width: 40%;
  height: 45px;
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  text-align: center;
  margin-top: 3.5rem;
  font-size: 14px;
  font-weight: 400;
  padding-top: 9px;
  border: 0px;
  color: #525252;
}

.CTA-form-heading {
  width: 80%;
  margin: auto;
 
}

.CTA-form-heading h2 {
  font-family: "ABeeeZee", sans-serif;
  font-style: italic;
  font-weight: 400;
  text-align: center;
  font-size: 31px;
}

.form-heading-p {
  width: 99%;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #818d9d;
}

.CTA-form-input-section {
  width: 90%;
  margin-top: 2rem;
}

.name-input-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 366px;
  height: 52px;
  padding: 14px 6px 14px 10px;
  border-radius: 8px;
  gap: 10px;
  background-color: #fafafa;
  margin-bottom: 1rem;
}

.form-input {
  height: 100%;
  border: none;
  background-color: #fafafa;
}

.input-btn-div {
  width: 100%;
  text-align: center;
}

.submit-btn {
  width: 90%;
  height: 50px;
  background-image: linear-gradient(#4271ed, #9235ed);
  border-radius: 8px;
  border: none;
  font-family: "ABeeeZeee", sans-serif;
  font-style: italic;
  font-weight: 400;
  color: var(--white);
  font-size: 18px;
}

.input-btn-div p {
  width: 80%;
  font-size: 14px;
  color: #7c7474;
  margin: auto;
}

.courses-section {
  width: 100vw;
  height: 800px;
  background-color: #ecf8ff;
}

.courses-heading {
  padding-top: 4rem;
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;
}
.course-heading-p {
  font-family: "ABeeZee", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;

  text-align: center;
  color: var(--blue);
}

.course-heading-h {
  font-family: "ABeeZee", sans-serif;
  font-size: 36px;
  font-weight: 400;

  text-align: center;
  color: #2f80ed;
}

.courses-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: normal;
  gap: 1rem;
  margin-bottom: 4rem;
 
}
.course-div {
  width: 33%;
  height: 60%;
  border: 1px solid blue;
  background-color: var(--white);
  border-radius:1rem;
  
}

.ideal-mark {
  margin-left:auto;
  margin-right:auto;
  width: 50%;
  height: 30px;
  background-color: var(--blue);
  color: white;
  font-family: "ABeeZee", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  border-radius: 8px;
  padding-top: 0.5rem;
  margin-top: -1rem;
}

.beginner-heading-div{
  margin:auto;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  width:60%;
  height:25%;
  text-align:center;

}


.beginner-heading{
  display:flex;
  gap:1rem;
  margin:auto;
}
.beginner-heading h4{
  font-family: "ABeeZee", sans-serif;
font-size: 26px;
font-style: italic;
font-weight: 400;
line-height: 31px;
letter-spacing: 0em;
text-align: left;

}

.beginner-info{
width:90%;
height:50%;
margin:auto;
}

.course-more-info-btn{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:1rem;
}
